<!DOCTYPE html>
<html>

<head>
    <title>Elesh Archivist Status</title>
    <style>
        body {
            font-family: sans-serif;
        }

        .status {
            margin-bottom: 1.5em;
        }

        ul {
            margin-top: 0.4em;
        }
    </style>
</head>

<body>
    <h1>Elesh Archivist Status</h1>
    <div class="status">
        <b>Lore and Rules Directory:</b> {{ lore_path }} <br />
        <b>Vectorstore Present:</b> {{ 'Yes' if vectorstore_exists else 'No' }}<br />
    </div>
    <div class="status">
        <b>Lore files ({{ lore_count }}):</b>
        <ul>
            {% for fname in lore_files %}
            <li>{{ fname }}</li>
            {% else %}
            <li>No lore files found.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="status">
        <b>Rulebook files ({{ rules_count }}):</b>
        <ul>
            {% for fname in rules_files %}
            <li>{{ fname }}</li>
            {% else %}
            <li>No rules files found.</li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>